footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:0 30px;
    background-color: var(--dark-purple);
}

footer p, footer a{
    color: white;
}

@media (max-width:740px) {
    footer{
        padding:0 15px;
    }
}

@media (max-width:420px) {
    footer{
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }
}