.product-detail-container{
    background-color: white;
    width: 100%;
    max-width: 900px;
    height: calc(100% - 120px);
    margin: 60px auto 0 auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
}
.product-detail-container img{
    width: 35%;
}
.product-detail-info{
    display: flex;
    flex-direction: column;
    gap:20px;
    flex:1 1 0;
}
.product-detail-container button{
    width:50%;
}

.grey-btn{
    background-color: #979797;
}

@media (max-width:1100px) {
    .product-detail-container{
        padding: 50px;
        gap:75px;
    }
}

@media (max-width:770px) {
    .product-detail-container{
        height: auto;
        margin: 60px auto 0 auto;
        padding:50px 100px;
        flex-direction: column;
        gap:50px;
    }
    .product-detail-container img{
        width: 50%;
    }
    .product-detail-container button{
        margin:auto;
    }
}
@media (max-width:580px) {
    .product-detail-container{
        padding:50px;
    }
}
